.SearchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.Bouton-Rechercher {
    background-color: #FFC300;
    width: 100px;
    padding: 8px;
    border-radius: 6px;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.Bouton-Rechercher:hover {
    background-color: #ffcc33;
    color: #333;
    border: 2px solid #333; /* Ajoute une bordure lors du survol */
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

input {
    width: 500px;
    padding: 8px;
    background-color: #dfdbdb;
    margin: 8px;
    border-radius: 6px;
    box-shadow: none;
    border: none;
}

.Bouton-filtre1,
.Bouton-filtre2 {
    background-color: #dfdbdb;
    width: 100px;
    padding: 4px;
    border-radius: 6px;
    margin: 8px;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.Bouton-filtre1:hover,
.Bouton-filtre2:hover {
    background-color: #FFC300;
   
    transition: background-color 0.3s ease, border 0.3s ease;
}

.filtre {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}

/* Classe active pour les boutons */
.active {
    background-color: #FFC300; /* Couleur de fond jaune lorsqu'il est actif */
    border: 0px solid #333; /* Bordure persistante */
}
